* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    /* Root font-size is the value of REM (i.e 1rem = 16px) */
    font-size: 16px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    grid-column: 2/ span 4;
    gap: 4rem;
    margin-top: 1.2rem;
    flex-wrap: wrap;
    margin-left: 0.2rem;
    height: 3rem;
}

.search {
    display: flex;
    flex-direction: row;
    margin-left: .1rem;
    gap: 1rem;
}


input {
    border-radius: 1rem;
    border-style: none;
    width: 35rem;
    height: 2rem;
    background-color: rgb(202, 211, 211);
    padding: 1rem;
}

.user_profile {
    display: flex;
    flex-direction: row;
    margin-right: .4rem;
    gap: 1rem;
}

.user_greet {
    display: flex;
    flex-direction: column;
    height: 2rem;
    gap: .4rem;
}

.username {
    font-size: 50px;
}
  


.sidebar {
    grid-row: 1 / span 4;
    gap: 1.2rem;
    margin-left: 1.5rem;
}

.dashboard {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    gap: 1rem;
}

.icon {
    display: flex;
    flex-direction: row;   
    gap: 1rem;
}

.first_layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/ span 2;
    gap: 1rem;
}

.second_layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/ span 2;
    gap: 1rem;
}



