* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    /* Root font-size is the value of REM (i.e 1rem = 16px) */
    font-size: 16px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    display: grid;
    grid-template-rows: .25fr 1.2fr;
    background-color: 	#c2cedade;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    grid-column: 2/ span 4;
    grid-row: 1/ span 1;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 1.3rem;
    align-items: center;
    background-color: #063a58;
    margin-bottom: 1.3rem;
}

.search_icon {
    height: 1.4rem;
}

.search {
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
    gap: 1rem;
}


input {
    border-radius: 1rem;
    border-style: none;
    width: 50rem;
    height: 2.3rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.notif {
    height: 1.6rem;
}

a:link {
    text-decoration: none;
    color: white;
    flex-shrink: 0;

}

a:visited {
    color: white;
}

.profile_icon_small {
    height: 4.3rem;
}

.name {
    font-size: 1.3rem;
    text-align: center;
    align-self: stretch;
    display: flex;
    align-items: center;
    color: white;
}


.user_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.user_greet {
    display: grid;
    align-items: center;
    grid-template-columns: .1fr 1fr;
    margin-left: 1.5rem;
    margin-bottom: 1.6rem;
    width: 45%;
    height: 3rem;
    gap: .9rem;
    color: white;
}

.profile_icon_big {
    height: 6.5rem;
    width: 5.5rem;
}

.buttons {
    display: flex;
    gap: 2.5rem;
}

 button {
    width: 5.5rem;
    height: 2rem;
    border-radius: 1rem;
    border-style: none;
    background-color:	#20708d;
    color: white;
    font-weight: bold;

}

.profile_icon {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 40px;
}
  


.sidebar {
    grid-row: 1 / span 4;
    gap: 1.8rem;
    background-color:#20708d;
}

.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
    font-weight: bolder;
    gap: .5rem;
    margin-left: .8rem;
    color: #083344;
    letter-spacing: .1rem;
}

.dash_icon {
    width: 20%;
    height: 2.8rem;
    color: white;
}

.dash:link {
    color: #93d8f3;
    font-size: 1.8rem;
    margin-right: .5rem;
}

.icon {
    display: flex;
    flex-direction: row;   
    align-items: center;
    width: 2.8rem;
    height: 2.3rem;
    gap: 1.4rem;
}

.first_layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/ span 2;
    gap: 1.8rem;
    margin-left: 1.5rem;
    margin-top:3.5rem;
    font-size: 1.4rem;
    font-weight: 550;
    color: white;
}


.second_layer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1/ span 2;
    margin-top: 3.8rem;
    gap: 1.8rem;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    color: white;
}

.main {
    display: flex;
    grid-row: 2 /span 2;
    flex-direction: column;
    align-items:baseline;
    gap: 1rem;
    margin-left: 1.9rem;
    margin-bottom: 1.5rem;
}

.u_projects {
    justify-content: baseline;
    margin-left: -10rem;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 7fr);
    grid-template-rows: repeat(3, 5fr);
    gap: 3rem;
    margin-left: 1rem;
}

.project_box {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 87%;
    background: linear-gradient(
        to right,
        #70f0fb,
        #70f0fb .6rem,
        #f3f6f4 .5rem,
        #f3f6f4 100%
    );
    padding: 1rem;
    padding-top: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
}

.card_opt {
    display: flex;
    justify-content: flex-end;
    margin-top: .8rem;
    gap: 1.8rem;
}

.card_icon {
    width: 2rem;
    height: 1.8rem;

}

.project_name {
    font-weight: bold;
}

.lorem {
    padding: .5rem;
    font-size: 1rem;
}

.side_main {
    display: grid;
    grid-template-rows: .2fr 2fr;
    grid-template-columns: .9fr;
    margin-left: 2.5rem;
    gap: .5rem;
}

.announcements {
    display: flex;
    flex-direction: column;
    background-color: #f3f6f4;
    border-radius: .5rem;
    width: 17.5rem;
    gap: 1.5rem;
    padding: 1.6rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    
}
.announ {
    margin-bottom: .1rem;
    margin-left: -1rem;
}

.announcements > div {
    display: flex;
    flex-direction: column;
    margin-bottom: .2rem;  
}

.sidecard_text {
    font-size: .7rem;
    color: rgb(109, 108, 108);
    padding-bottom: .6rem;
    border-bottom: 1px solid rgb(126, 122, 122);
}

.trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f6f4;
    border-radius: .5rem;
    width: 17.5rem;
    gap: 1.5rem;
    padding: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 1.3rem;
}

.trend {
    margin-left: -1.8rem;
    margin-top: 1rem;
}

.trending-container-big {
    display: flex;
    flex-direction: row;
    justify-content: first baseline
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
}

.profile-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    width: 5rem;
    justify-content: center;
    align-items:baseline;
}

.alias{
    color: rgb(109, 108, 108);
    font-size: smaller;
}